body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }
  
  form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;

  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form button[type="button"] {
    margin-top: 5px;
    background: none;
    border: none;
    color: #007BFF;
    cursor: pointer;
  }
  
  form button[type="button"]:hover {
    text-decoration: underline;
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  form button[type="submit"]:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  form span {
    color: red;
    font-size: 12px;
  }
  